<a href="https://colab.research.google.com/github/Rao-Ashu/py_basic/blob/main/python_basicNotes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Python Keywords**
(Total -> 35)

In [ ]:
import keyword
print (keyword.kwlist)
print("\n Count => ", len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

 Count =>  35

### **Variable Assignments**

In [ ]:
// simple assignment
a = 10
b = 5.5
c = "ML"

// Multiple assignment
a,b,c = 10, 5.5, "ML"

### **Storage Locations**

In [ ]:
x = 3
print("location of 3-> ", id(x))

y=3
print("location of 4-> ", id(y))
//see both the locations are same

location of 3->  140223088804144
location of 4->  140223088804144

### **Data Type** ->
Everything in python is an object, datatype is the class and variables are the objects to these classes.

In [ ]:
from binascii import b2a_base64
a = 5
b = 5.5
c = "this is a string"

print("datatype of a->", type(a))
print("datatype of b->", type(b))
print("datatype of c->", type(c))

datatype of a-> <class 'int'>
datatype of b-> <class 'float'>
datatype of c-> <class 'str'>

### **String**

In [ ]:
s = """This is a
        multi line string"""
print(type(s))
print(s[1])
s[5:] #it will print the entire string uptill end

<class 'str'>
h

'is a \n        multi line string'

In [ ]:
s[5:10] #will print only till end of current line

TypeError: ignored

### **LIST** ->
list is an ordered sequence of items || Lists are mutable, value of list element can be altered

In [ ]:
a = [10,5.5, "hala"]
print(a)
a[2] = "ram ram"
print(a)

[10, 5.5, 'hala']
[10, 5.5, 'ram ram']

### **Tuple** -> Ordered sequence, but these are unmutable(tuple once created cannot be modified)

In [ ]:
t = (10, 5.5, "hala")
print (t)
print(t[2])

(10, 5.5, 'hala')
hala

In [ ]:
t[1] = 0

TypeError: ignored

### **SET** -> *unordered* collection of unique items || immutable as unordered

In [ ]:
s = {1,2,3,2,4,5}
print (s)

{1, 2, 3, 4, 5}

In [ ]:
s[1] = 10

TypeError: ignored

### **Dictionary** -> unordered collection of key-value pairs.

In [ ]:
d = {'a': "apple", 'b':"bat"}
print(d)
print(d['a'])

{'a': 'apple', 'b': 'bat'}
apple

### **Conversion between datatype**

In [ ]:
a = float(10)
b = int(5.5)
c = str(10)
print("a->",a)
print("b->",b)
print("c->",c, type(c))

a-> 10.0
b-> 5
c-> 10 <class 'str'>

In [ ]:
a = [1,2,3]
b = set(a)
type(b)

set

In [ ]:
list("hello")

['h', 'e', 'l', 'l', 'o']

### **Output Formatting**

In [ ]:
a = 10; b = 20
print("value of a is {} and b is {}".format(a,b)) #default

value of a is 10 and b is 20

In [ ]:
print("value of b is {1} and a is {0}".format(a,b))

value of b is 20 and a is 10

In [ ]:
print("welcome {name}, good {message}".format(name = "ashu", message = "morning"))

welcome ashu, good morning

### **Input**

In [ ]:
a = input("enter the number ")
print("you have entered ->",a)

enter the number3
you have entered -> 3

### **Operators**
exponent(**) ||
floor division(//) || and || or || not || is || is not

In [ ]:
l = [1,2,3,4]
1 in l

True

In [ ]:
a = 5
b = 5
print(a is b)

l1 = [1,2,4]
l2 = [1,2,4]

l1 is l2

True

False

### **If-else**

In [ ]:
n1 = 1
n2 = 2
n3 = 3
if (n1 > n2) and (n1>n3):
    largest = n1
elif (n2>n1) and (n2>n3):
    largest = n2
else:
    largest = n3
print("largest -> ", largest)

largest ->  3

### **WHILE loop**

In [ ]:
l = [1,2,3,4]
i=0
while i < len(l):
    print(l[i])
    i+=1
else:
    print("no item left in the list")

1
2
3
4
no item left in the list

### **For Loop**

In [ ]:
l = [1,2,3,4]
for i in l:
    print(i)

1
2
3
4

In [ ]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8