<a href="https://colab.research.google.com/github/Rao-Ashu/py_basic/blob/main/Strings_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
s1 = "hello"
s2 = "ashu"
print (s1 + s2)
print (s2*3)

helloashu
ashuashuashu

In [ ]:
print('a' in 'ashu')

True

### **String Methods**
lower(), upper(), join(), split(), find(), replace()

In [ ]:
s = "My name is Ashu"
s.split(" ")

['My', 'name', 'is', 'Ashu']

In [ ]:
','.join(['my','name','is','ashu'])

'my,name,is,ashu'

In [ ]:
'Good Morning'.find('n') #will give index of first occurence

8

In [ ]:
"Bad Morning".replace("Bad","Good")

'Good Morning'

If strings are immutable then how are we changing the bad to good, it will make the new string instead of changing the initial string itself

In [ ]:
s1 = "Bad Morning"
s2 = s1.replace("Bad","good")
print (s1)
print (s2)

Bad Morning
good Morning

In [ ]:
s1 = "Ashutosh"
s2 = reversed(s1)
if list(s1) == list(s2):
    print("palindrome")
else:
    print("not palindrome")

not palindrome

In [ ]:
s = "My name is Ashu"
words = s.split(' ')
words.sort()
for i in words:
    print(i)

Ashu
My
is
name

### **LIST**

In [ ]:
lst = ['one','two','three','four']

#length
print(len(lst))

#add in last
lst.append('five')
print(lst)

#insert in between
lst.insert(2,"added new")
print(lst)

#remove
lst.remove("four")
print(lst)

4
['one', 'two', 'three', 'four', 'five']
['one', 'two', 'added new', 'three', 'four', 'five']
['one', 'two', 'added new', 'three', 'five']

In [ ]:
l = [1,2,4,3,7,5,6]
l1=sorted(l,reverse=True)
print(l1)

[7, 6, 5, 4, 3, 2, 1]

sorted(l1) -> returns a new seprate list, but l1.sort() will sort the array inplace only.

In [ ]:
lst = [1,2,3,4]
abc = lst
abc.append(5)
print(lst)
#reference is to single same list only

[1, 2, 3, 4, 5]